@using ToDoListWebApp.Helpers
@using System.Security.Claims
@model IEnumerable<ToDoListWebApp.Models.DomainModels.Task>

@{
    var currentUserId = User?.FindFirstValue(ClaimTypes.NameIdentifier);
    var UserAuthenticated = User?.Identity?.IsAuthenticated;

    var msgModifyPartWhenNotAuthenticated = "";
    var msgDeletePartWhenNotAuthenticated = "";
    if (UserAuthenticated == false) msgModifyPartWhenNotAuthenticated += " Inscrivez-vous/connectez-vous pour créer et modifier vos tâches.";
    if (UserAuthenticated == false) msgDeletePartWhenNotAuthenticated += " Inscrivez-vous/connectez-vous pour créer et supprimer vos tâches.";
}

@foreach (var item in Model)
{
    <tr>
        <td class="@HtmlHelpers.setCSSclassPriorite(item.Priorite)" title="Priorité: @item.PrioriteNavigation.Libelle">
        </td>
        <td class="checkbox-wrapper center">
            <div>
                <input type="checkbox" class="statut-checkbox" @(item.Statut ? "checked" : "") data-id="@item.Id" />
            </div>
        </td>
        <td class="data-filled nom">
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td class="data-filled">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="data-filled center">
            @Html.DisplayFor(modelItem => item.DateLimite)
        </td>
        <td class="data-filled center">
            @Html.DisplayFor(modelItem => item.Categorie)
        </td>
        <td>
            @{
                var userNamePicto = HtmlHelpers.SetUserShortName(item.User?.UserName);
            }
            <div title="@item.User?.UserName" class="@userNamePicto.CssClassColor">
                @userNamePicto.shortName
            </div>
        </td>
        <td>
            @{
                var creationOuModif = HtmlHelpers.FormatLibelleDateCreaModif(item.DateCreation, item.DerniereModification);
            }
            <div class="small-libelle">@creationOuModif.verb</div>
            <div class="data-filled">@creationOuModif.date</div>
        </td>
        <td>
            <div class="icons-action">
                @if (currentUserId == item.UserId)
                {
                    <a class="material-symbols-rounded edit-task" data-id="@item.Id" data-popin="Modifier" tabindex="0">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-rounded" data-popin="Supprimer">delete</a>
                } else
                {          
                    <span class="material-symbols-rounded edit-task disabled" data-popin="Modifier: L'auteur de cette tâche est le profil Démo. Vous ne pouvez pas modifier une tâche qui n'est pas la vôtre.@msgModifyPartWhenNotAuthenticated" tabindex="0">Edit</span>
                    <span class="material-symbols-rounded disabled" data-popin="Supprimer: L'auteur de cette tâche est le profil Démo. Vous ne pouvez pas supprimer une tâche qui n'est pas la vôtre.@msgDeletePartWhenNotAuthenticated">delete</span>
                }
            </div>
        </td>       
    </tr>
}

@if(Model.Count() == 0)
{
    <div>Pas de données</div>
}