@using ToDoListWebApp.Helpers
@model IEnumerable<ToDoListWebApp.Models.DomainModels.Task>

@foreach (var item in Model)
{
    <tr>
        <td class="@HtmlHelpers.setCSSclassPriorite(item.Priorite)">
            @* @Html.DisplayFor(modelItem => item.Priorite) *@
        </td>
        <td class="checkbox-wrapper center">
            <div>
                <input type="checkbox" class="statut-checkbox" @(item.Statut ? "checked" : "") data-id="@item.Id" />
            </div>
        </td>

        @* <td>@Html.DisplayFor(modelItem => item.DateCreation)</td>
        <td>@Html.DisplayFor(modelItem => item.DerniereModification) </td> *@

        <td class="data-filled">
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        @* !!!!  A METTRE SEULEMENT DANS PAGE Détails !!!! *@
        @* <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td> *@
        <td class="data-filled">
            @Html.DisplayFor(modelItem => item.DateLimite)
        </td>
        <td class="data-filled center">
            @Html.DisplayFor(modelItem => item.Categorie)
        </td>
        <td>
            @{
                var creationOuModif = HtmlHelpers.FormatLibelleDateCreaModif(item.DateCreation, item.DerniereModification);
            }
            <div class="small-libelle">@creationOuModif.verb</div>
            <div class="data-filled">@creationOuModif.date</div>
        </td>
        <td>
            <div class="icons-action">
                <a class="material-symbols-rounded edit-task pointer" data-id="@item.Id" data-popin="Modifier">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="material-symbols-rounded" data-popin="Détails">visibility</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-rounded" data-popin="Supprimer">delete</a>
            </div>
        </td>
    </tr>
}