@using ToDoListWebApp.Helpers
@using System.Security.Claims
@model IEnumerable<ToDoListWebApp.Models.DomainModels.Task>

@{
    var currentUserId = User?.FindFirstValue(ClaimTypes.NameIdentifier);
    var UserAuthenticated = User?.Identity?.IsAuthenticated;

    var msgModifyPartWhenNotAuthenticated = "";
    var msgDeletePartWhenNotAuthenticated = "";
    var msgTaskDonePartWhenNotAuthenticated = "";
    if (UserAuthenticated == false)
    {
        msgModifyPartWhenNotAuthenticated += " Inscrivez-vous/connectez-vous pour créer et modifier vos tâches.";
        msgDeletePartWhenNotAuthenticated += " Inscrivez-vous/connectez-vous pour créer et supprimer vos tâches.";
        msgTaskDonePartWhenNotAuthenticated += " Inscrivez-vous/connectez-vous pour créer et valider vos tâches.";
    }
}

@foreach (var item in Model)
{
    <tr>
        <td class="@HtmlHelpers.setCSSclassPriorite(item.Priorite)" title="Priorité: @item.PrioriteNavigation.Libelle">
        </td>
        <td class="done-chbx">
            <div>
                @if (currentUserId == item.UserId)
                {
                    <input type="checkbox" class="statut-checkbox" @(item.Statut ? "checked" : "") data-id="@item.Id" />
                } else
                {
                    <input type="checkbox" class="statut-checkbox" @(item.Statut ? "checked" : "") disabled="disabled"
                           aria-label="L'auteur de cette tâche est le profil Démo. Vous ne pouvez pas marquer comme 'Fait' une tâche qui n'est pas la vôtre.@msgTaskDonePartWhenNotAuthenticated" />
                }
            </div>
        </td>
        <td class="tache data-filled" data-label="Tâche">
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td class="description data-filled" data-label="Description">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="date-limite" data-label="A faire avant le">
            @Html.DisplayFor(modelItem => item.DateLimite)
        </td>
        <td class="categorie data-filled" data-label="Catégorie">
            @Html.DisplayFor(modelItem => item.Categorie)
        </td>
        <td class="auteur" data-label="@item.User?.UserName">
            @{
                var userNamePicto = HtmlHelpers.SetUserShortName(item.User?.UserName);
            }
            <div title="@item.User?.UserName" class="@userNamePicto.CssClassColor">
                @userNamePicto.shortName
            </div>
        </td>
        <td class="date-creation-modification">
            @{
                var creationOuModif = HtmlHelpers.FormatLibelleDateCreaModif(item.DateCreation, item.DerniereModification);
            }
            <div class="small-libelle">@creationOuModif.verb</div>
            <div class="data-filled">@creationOuModif.date</div>
        </td>
        <td class="edit-delete-icons">
            <div class="icons-action">
                @if (currentUserId == item.UserId)
                {
                    <a class="material-symbols-rounded edit-task" data-id="@item.Id" aria-label="Modifier" tabindex="0">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-rounded" aria-label="Supprimer">delete</a>
                } else
                {          
                    <span class="material-symbols-rounded disabled" aria-label="Modifier: L'auteur de cette tâche est le profil Démo. Vous ne pouvez pas modifier une tâche qui n'est pas la vôtre.@msgModifyPartWhenNotAuthenticated">Edit</span>
                    <span class="material-symbols-rounded disabled" aria-label="Supprimer: L'auteur de cette tâche est le profil Démo. Vous ne pouvez pas supprimer une tâche qui n'est pas la vôtre.@msgDeletePartWhenNotAuthenticated">delete</span>
                }
            </div>
        </td>       
    </tr>
}

@if(Model.Count() == 0)
{
    <div>Pas de données</div>
}