@using System.Security.Claims
@model ToDoListWebApp.Models.DomainModels.Task

@{
    ViewData["Title"] = "Suppression";

    var currentUserId = User?.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="center header-delete">
    <h2>Supprimer la tâche</h2>
    <h6>Etes-vous sûr de vouloir supprimer cette tâche?</h6>
</div>
<div>
    <dl class="row frame-delete-task">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DerniereModification)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DerniereModification)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-6">
            @(Model.Statut ? "Oui" : "Non")
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DateLimite)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DateLimite)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Priorite)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PrioriteNavigation.Libelle)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
    </dl>
    @if (currentUserId == Model.UserId)
    {
    <form asp-action="Delete" class="form-button-delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </form>
     }
</div>
