@using ToDoListWebApp.Helpers
@using static ToDoListWebApp.Models.DTO.UtilityObjects
@model IEnumerable<ToDoListWebApp.Models.DomainModels.Task>

@{
    ViewData["Title"] = "To do list";

    var UserAuthenticated = User?.Identity?.IsAuthenticated;
}

<div class="head-index">
    <h1>Ma liste de trucs à faire</h1>
    @if (UserAuthenticated == true)
    {
        <a class="bt-add-task" asp-action="Create">
            <span class="material-symbols-rounded">add_circle</span>
            Créer une nouvelle tâche
        </a> 
    } else
    {
        <a class="bt-add-task disabled" href="#" aria-label="Vous n'avez pas les droits de création avec le profil Démo : Inscrivez-vous/Connectez-vous pour créer votre tâche.">
            <span class="material-symbols-rounded">add_circle</span>
            Créer une nouvelle tâche
        </a>
    }
</div>

@if (UserAuthenticated == false)
{
    <div id="alert-user-demo" class="alert alert-warning mt-3" role="alert">
        <p class="alert-user-demo-title">Profil Utilisateur Démo:</p>
        <p>Les tâches présentes ci-dessous ne sont là que pour vous permettre de visualiser le rendu d'une liste.</p>
        <p>Elles ne peuvent ni être supprimées, ni être modifiées par vous.</p>
        <p>Vous avez la possibilité de créer/modifier/supprimer des tâches en <a asp-area="Identity" asp-page="/Account/Login">vous connectant</a> ou, si ce n'est déjà fait en <a asp-area="Identity" asp-page="/Account/Register">créant au préalable un compte</a>.</p>
        Enjoy !
    </div>
}

<div id="wrapper-filter-and-sort-index">

    @if (UserAuthenticated == true)
    {
        <div id="toggle-author-tasks">
            <span>Afficher les tâches du profil Démo</span>
            <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        </div>
    }

    <div class="filter-and-sort-index">

        <div class="filter-index">
            <label>Classer par</label>
            <select id="sortList" class="form-select">
                <option value="-1">ordre des tâches créées</option>
            </select>
        </div>

        <div class="sort-index">
            <label>Filtrer par</label>
            <div class="input-group">
                <input type="text" name="filterInput" class="form-control" maxlength="30" placeholder="Nom de la tâche ou description" aria-label="Nom de la tâche ou description" aria-describedby="basic-addon2">
                <div class="msg-erreur">Au moins 3 caractères</div>
                <div class="input-group-append">
                    <button id="bt-delete-filter" class="btn btn-outline-secondary">
                        <span class=" material-symbols-rounded">close_small</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div><span class="nb-tasks"></span></div>
</div>


<table class="table table--index">
    <thead>
        <tr>
            <th></th>
            <th class="center">
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th id="Nom">
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th id="description">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="center">
                @Html.DisplayNameFor(model => model.DateLimite)
            </th>
            <th class="center">
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>Auteur</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="body-table-index">
        @Html.Partial("./Partials/_IndexTable", Model)
    </tbody>
</table>


<div id="modalEdit"></div>