@using ToDoListWebApp.Helpers
@using static ToDoListWebApp.Models.DTO.UtilityObjects
@model IEnumerable<ToDoListWebApp.Models.DomainModels.Task>

@{
    ViewData["Title"] = "To do list";
}

<div class="head-index">
    <h1>Ma liste de trucs à faire</h1>
    <a class="bt-add-task" asp-action="Create">
        Créer une nouvelle tâche
        <span class="material-symbols-rounded">add_circle</span>
    </a> 
</div>

<div class="filters-and-sort">
    <span>Classer par :</span>
    <select id="sortList">
        <option value="-1">ordre des tâches créées</option>
    </select>
</div>

<table class="table table--index">
    <thead>
        <tr>
            <th></th>
            <th class="center">
                @Html.DisplayNameFor(model => model.Statut)
            </th>

            @* <th>@Html.DisplayNameFor(model => model.DateCreation)</th>
            <th>@Html.DisplayNameFor(model => model.DerniereModification)</th> *@

            <th id="Nom">
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLimite)
            </th>
            <th class="center">
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="body-table-index">
        @Html.Partial("./Partials/_IndexTable", Model)
    </tbody>
</table>


<div id="modalEdit"></div>